body.post-type-gpages #wpbody-content .page-title-action {
	display: none
}

.wp-pointer-bottom .wp-pointer-arrow, .wp-pointer-top .wp-pointer-arrow, .wp-pointer-undefined .wp-pointer-arrow {
	left: 15px
}

table#bp-gtm-admin-table td.checkbox {
	width: 15px;
	border-right: 1px solid #dfdfdf;
}

table#bp-gtm-admin-table td.checkbox input {
	margin-left: 8px;
}

#bpge-form .buy_bpge {
	font-size: 24px;
	height: auto;
	line-height: 36px;
	padding: 10px 30px;
}

#bpge-form ul.sets {
	overflow: hidden;
	margin: 20px 0 10px 0;
}

#bpge-form ul.sets li {
	overflow: hidden;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #fff;
}

#bpge-form ul.sets li a.show_fields,
#bpge-form ul.sets li a.add_fields {
	margin-left: 10px
}

#bpge-form ul.sets li span.active {
	float: left;
	width: 20px;
}

#bpge-form ul.sets li span.name {
	float: left;
	width: 15%;
	padding: 6px 0 0 10px;
}

#bpge-form ul.sets li span.desc {
	float: left;
	width: 31%;
	padding-top: 6px;
}

#bpge-form ul.sets li .fields .no-fields {
	display: none;
	border-left: 4px solid red;
	padding: 5px;
	margin: 10px 0 10px 20px;
}

#bpge-form ul.sets li .fields table {
	display: none;
	float: left;
	width: 89%;
	clear: both;
	margin: 10px 0 10px 20px;
	border-left: 4px solid #72aee6;
}

#bpge-form ul.sets li .fields table .field-title {
	width: 200px;
}

#bpge-form ul.sets li .fields table .field-type {
	width: 150px;
}

#bpge-form ul.sets li .fields table th,
#bpge-form ul.sets li .fields table td {
	padding: 5px;
}

#bpge-form ul.sets li .add_field {
	display: none;
	width: fit-content;
	margin-left: 20px;
	margin-top: 10px;
}

#bpge-form ul.sets li .fields.show {
	display: block;
}

#bpge-form ul.sets li span.no_fields {
	float: left;
	border: 1px solid #c3c4c7;
	border-left: 4px solid #72aee6;
	padding: 10px;
	background-color: #fff;
}

#bpge-form ul.sets li span.actions,
#bpge-form ul.sets li a.create_fields_set {
	float: right;
}

#bpge-form ul.sets li .actions .field_delete {
	padding-left: 5px;
	top: 5px;
	position: relative;
}

#bpge-admin .inside {
	overflow: hidden;
}

#bpge-admin .nav-tab-wrapper {
	margin-top: 5px;
}

#bpge-admin .add_set_fields {
	margin-top: 14px;
}

#box_add_set_fields,
#box_edit_set_fields,
#box_add_field {
	display: none;
	width: 550px;
}

#bpge-admin #box_add_set_fields h4,
#bpge-admin #box_edit_set_fields h4,
#bpge-admin #box_add_field h4 {
	color: #464646;
	font-weight: bold;
	line-height: 30px;
	border-bottom: 1px solid #aaa;
}

#bpge-admin #box_add_set_fields div,
#bpge-admin #box_edit_set_fields div,
#bpge-admin #box_add_field div {
	margin-bottom: 10px;
}

#bpge-admin #box_add_set_fields label,
#bpge-admin #box_edit_set_fields label,
#bpge-admin #box_add_field label {
	float: left;
	width: 150px;
	line-height: 28px;
}

#bpge-admin #box_add_set_fields input,
#bpge-admin #box_edit_set_fields input,
#bpge-admin #box_add_field input {

}

#bpge-admin #box_add_set_fields textarea,
#bpge-admin #box_edit_set_fields textarea,
#bpge-admin #box_add_field textarea {
	width: 400px !important;
	height: 100px;
}

#extra-field-vars .content label {
	display: block;
	width: 100% !important;
	font-weight: bold;
	margin-bottom: 10px;
}

#extra-field-vars .content > span {
	margin-bottom: 5px;
	display: block;
}

#bpge-admin #box_add_set_fields #savenewsf,
#bpge-admin #box_edit_set_fields #editsf,
#bpge-admin #box_add_field #addnewfield {
	float: right;
}
